{{ define "main" }}
<main class="main_section">
	{{ $baseurl := .Site.BaseURL }}
	<a  href="{{.Site.BaseURL}}">首页</a>
	<a  href="{{$baseurl}}/all-posts">文章列表</a>
	<a  href="{{$baseurl}}/about">关于</a>
  
    <h2 id="title">{{ .Title }}</h2>
      <div>
        <article id="content">
           {{ .Content }}
        </article>
      </div>

    <aside id="meta">
        <div>
         <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
		 <h5 id="wordcount"> {{ .WordCount }} Words </h5>
        {{ with .Params.tags }}
          [
            {{ range . }}
              <a href="/tags/{{ lower . }}" style="display: inline;">{{ . }}</a>
            {{ end }}
          ]
        {{ end }}
        </div>
    </aside>
	<div class="post-comment">
    <!-- 加入评论功能 -->
    {{ partial "comment.html" . }}
</div>
</main>
{{ end }}
