{{ define "main" }}
<head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
<main class="main_section">
    <h2 id="title">{{ .Title }}</h2>
      <div>
        <article id="content">
           {{ .Content }}
        </article>
      </div>
    <aside id="meta">
        <div>
        <h5 id="date"> {{ .Date | time.Format ":date_medium" }} </h5>
        {{ with .Params.tags }}
          [
            {{ range . }}
              <a href="/tags/{{ lower . }}" style="display: inline;">{{ . }}</a>
            {{ end }}
          ]
        {{ end }}
        </div>
    </aside>
</main>
{{ end }}
